# ----------------------------------------------------
# 1) Build output e relatórios gerados pelo Maven
# ----------------------------------------------------
/target/
/site/

# ----------------------------------------------------
# 2) Cache do Allure CLI e resultados “fora” do src
# ----------------------------------------------------
/.allure/
/allure-results/

# ----------------------------------------------------
# 3) Configurações de IDEs (não versionar)
# ----------------------------------------------------
.vscode/
/.idea/
/*.iml

# ----------------------------------------------------
# 4) Logs e arquivos temporários
# ----------------------------------------------------
*.log
*.tmp

# ----------------------------------------------------
# 5) Arquivos de sistema
# ----------------------------------------------------
.DS_Store
Thumbs.db
